@page "/error"

@layout NoSideBarMainLayout

<PageTitle>Wystąpił błąd</PageTitle>

<div class="row">
    <div class="col text-danger text-center fs-1" role="alert">
        Wystąpił błąd. Spróbuj ponownie lub skontakuj się z administratorem.
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <a href="/" class="btn btn-primary">
            Przejdź do strony głównej
        </a>
    </div>
</div>