@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <div class="p-4 fw-bold rz-text-align-center">
                <RadzenLink Path="/" Text="Strona główna" />
            </div>
            <div class="p-4 rz-text-align-center">
                <RadzenLink Path="/" Text="Polityka prywatności" />
            </div>
            <div class="p-4 rz-text-align-center">
                <RadzenLink Path="/" Text="Kontakt" />
            </div>
            <div class="p-4 rz-text-align-center">
                <RadzenLink Path="/" Text="Logowanie" />
            </div>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu ShowArrow="false">
            <RadzenPanelMenuItem Text="Moje zadania" Icon="home" Path="tasks" />
            <RadzenPanelMenuItem Text="Dodaj nowe zadanie" Icon="note_add" Path="task/add" />
            <RadzenPanelMenuItem Text="Kalendarz" Icon="date_range" Path="task/scheduler/" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Copyright © 2023 OrganizeApp
    </RadzenFooter>
</RadzenLayout>