@page "/contact"

@rendermode InteractiveAuto
@layout NoSideBarMainLayout

<PageTitle>Kontakt</PageTitle>

<section class="main-section">
    <h2 class="main-section-header">Kontakt</h2>

    <div class="main-section-text mt-5">
        
        <b>OrganizeApp</b><br/><br/>

        <b>Github: </b><a href="https://github.com/kamil426">https://github.com/kamil426</a><br /><br />

        <b>Email: </b>kamilszymanski426@gmail.com

    </div>

</section>