@page "/"

@rendermode InteractiveAuto
@layout NoSideBarMainLayout

<PageTitle>Strona główna</PageTitle>

<section class="main-section">

    <div class="main-section-body">
        <div>
            <h2 class="main-section-header">Witaj</h2>
            <h5 class="main-section-text">Zaloguj się lub zarejestruj, aby móc skorzystać z serwisu</h5>
        </div>
        <img class="main-section-img" src="img/businessman-planning-events-deadlines-agenda.png" />
    </div>

</section>