@page "/privacy"

@rendermode InteractiveAuto
@layout NoSideBarMainLayout

<PageTitle>Polityka prywatności</PageTitle>

<section class="main-section">

    <h2 class="main-section-header">Polityka prywatności</h2>

    <div class="main-section-text mt-5">

        <b>I. Postanowienia ogólne</b><br /><br />

        Polityka prywatności określa, jak zbierane, przetwarzane i przechowywane są dane osobowe Użytkowników niezbędne do świadczenia usług drogą elektroniczną za pośrednictwem serwisu internetowego OrganizeApp (dalej: Serwis).
        Serwis zbiera wyłącznie dane osobowe niezbędne do świadczenia i rozwoju usług w nim oferowanych.
        Dane osobowe zbierane za pośrednictwem Serwisu są przetwarzane zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych, dalej RODO) oraz ustawą o ochronie danych osobowych z dnia 10 maja 2018 r.

        <br /><br /><b>II. Administrator danych</b><br /><br />

        Administratorem danych osobowych zbieranych poprzez Serwis jest OrganizeApp (dalej: Administrator).

        <br /><br /><b>III. Cel zbierania danych osobowych</b><br /><br />

        Dane osobowe wykorzystywane są w celu:
        rejestracji konta i weryfikacji tożsamości Użytkownika,
        umożliwienia logowania do Serwisu,
        realizacji umowy dotyczącej usług i e-usług,
        komunikacji z Użytkownikiem (livechat, formularz kontaktowy itp.)
        wysyłki newslettera (po wyrażeniu zgody Użytkownika na jego otrzymywanie),
        prowadzenia systemu komentarzy,
        świadczenia usług społecznościowych,
        promocji oferty Administratora,
        marketingu, remarketingu, afiliacji,
        personalizacji Serwisu dla Użytkowników,
        działań analitycznych i statystycznych,
        windykacji należności,
        ustalenia i dochodzenia roszczeń albo obrony przed nimi.
        Podanie danych jest dobrowolne, ale niezbędne do zawarcia umowy albo skorzystania z innych funkcjonalności Serwisu.

        <br /><br /><b>IV. Rodzaj przetwarzanych danych osobowych</b><br /><br />

        Administrator może przetwarzać dane osobowe Użytkownika: imię i nazwisko, data urodzenia, adres zamieszkania, adres e-mail, numer telefonu, NIP.

        <br /><br /><b>V. Okres przetwarzania danych osobowych</b><br /><br />

        Dane osobowe Użytkowników będą przetwarzane przez okres:

        gdy podstawą przetwarzania danych jest wykonanie umowy – do momentu przedawnienia roszczeń po jej wykonaniu,
        gdy podstawą przetwarzania danych jest zgoda – do momentu jej odwołania, a po odwołaniu zgody do przedawnienia roszczeń.
        W obu przypadkach termin przedawnienia wynosi 6 lat, a dla roszczeń o świadczenia okresowe i roszczeń dotyczących prowadzenia działalności gospodarczej – 3 lata (jeśli przepis szczególny nie stanowi inaczej).

        <br /><br /><b>VI. Udostępnianie danych osobowych</b><br /><br />

        Dane osobowe Użytkowników mogą być przekazywane: podmiotom powiązanym z Administratorem, jego podwykonawcom, podmiotom współpracującym z Administratorem np. firmom obsługującym e-płatności, firmom świadczącym usługi kurierskie/pocztowe, kancelariom prawnym.
        Dane osobowe Użytkowników nie będą przekazywane poza teren Europejskiego Obszaru Gospodarczego (EOG).

        <br /><br /><b>VII. Prawa Użytkowników</b><br /><br />

        Użytkownik Serwisu ma prawo do: dostępu do treści swoich danych osobowych, ich sprostowania, usunięcia, ograniczenia przetwarzania, przenoszenia, wniesienia sprzeciwu wobec przetwarzania, cofnięcia zgody w każdej chwili (co nie ma wpływu na zgodność z prawem przetwarzania dokonanego w oparciu o zgodę przed jej cofnięciem).
        Zgłoszenie o wystąpieniu przez Użytkownika z uprawnieniem wynikającym z wymienionych praw należy przesłać na adres:
        <strong>kamilszmanski426@gmail.com</strong>.
        Administrator spełnia lub odmawia spełnienia żądania niezwłocznie – maksymalnie w ciągu miesiąca od jego otrzymania.
        Użytkownik ma prawo złożyć skargę do Prezesa Urzędu Ochrony Danych Osobowych, jeśli uzna, że przetwarzanie narusza jego prawa i wolności (RODO).

        <br /><br /><b>VIII. Pliki cookies</b><br /><br />

        Serwis zbiera informacje za pomocą plików cookies – sesyjnych, stałych i podmiotów zewnętrznych.
        Zbieranie plików cookies wspiera poprawne świadczenie usług w Serwisie i służy celom statystycznym.
        Użytkownik może określić zakres dostępu plików cookies do swojego urządzenia w ustawieniach przeglądarki.

        <br /><br /><b>IX. Zautomatyzowane podejmowanie decyzji i profilowanie</b><br /><br />

        Dane Użytkowników nie mogą być przetwarzane w zautomatyzowany sposób tak, że na skutek tego mogłyby zapaść wobec nich jakiekolwiek decyzje.
        Dane Użytkowników mogą być profilowane celem dostosowania treści i personalizacji oferty po wyrażeniu przez nich zgody.

        <br /><br /><b>X. Postanowienia końcowe</b><br /><br />

        Administrator ma prawo do wprowadzenia zmian w Polityce prywatności, przy czym prawa Użytkowników nie zostaną ograniczone.
        Informacja o wprowadzonych zmianach pojawi się w formie komunikatu dostępnego w Serwisie.
        W sprawach nieuregulowanych w niniejszej Polityce prywatności obowiązują przepisy RODO i przepisy prawa polskiego.
        Informacje na temat polityki prywatności i plików cookies znajdziesz na WygranaOnline.
    </div>

</section>