@page "/confirm-email"

@rendermode InteractiveAuto
@layout AuthenticationMainLayout

<PageTitle>Potwierdzenie</PageTitle>


<section class="confirm-email">
    <h2 class="confirm-email__heading">Potwierdzenie</h2>
    <div class="confirm-email__p">
        <p>
            Twoje konto zostało utworzone.
        </p>
        <p>
            Wysłaliśmy do Ciebie e-mail z linkiem aktywacyjnym ✅
        </p>
        <p>
            Sprawdź swoją skrzynkę 🔴
        </p>
        
    </div>


</section>