@page "/forgot-password"

@rendermode InteractiveAuto
@layout AuthenticationMainLayout

<PageTitle>Resetowanie hasła</PageTitle>

@if (_isLoading)
{
    <Loading/>
}
else
{
    <section class="forgot-form">
        <h2 class="forgot-form__heading">Resetowanie hasła</h2>

        @if (_showError)
        {
            <div class="alert alert-danger mx-4" role="alert">
                Coś poszło nie tak. Spróbuj ponownie lub skontaktuj się z administratorem.
            </div>
        }

        @if (_showSuccess)
        {
            <div class="alert alert-success mx-4" role="alert">
                Link do resetowania hasła został wysłany na Twój adres e-mail. Sprawdz skrzynkę odbiorczą i postępuj według instrukcji.
            </div>
        }

        <EditForm Model="_command" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="forgot-form__group">
                <label class="forgot-form__label">Wprowadź adres e-mail:</label>
                <InputText @bind-Value="@_command.Email" class="forgot-form__text"
                           type="email"
                           placeholder="Wprowadź adres e-mail" />
            </div>

            <button class="forgot-form__button btn btn-primary">
                Przypomnij hasło
            </button>

            <div class="forgot-form__link">
                <a href="/register" class="forgot-form__a">Zarejestruj się</a>
                <a href="/login" class="forgot-form__a">Zaloguj się</a>

            </div>

        </EditForm>

    </section>
}