.forgot-form {
    padding: 3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.forgot-form__heading {
    margin: 0 0 1rem 2rem;
}

.forgot-form__group {
    padding: .9rem 2rem;
}

.forgot-form__label {
    display: inline-block;
    margin-bottom: .7rem;
}

::deep .forgot-form__text {
    width: 100%;
    padding: .8rem 1rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(145, 144, 144);
}

    ::deep .forgot-form__text:focus {
        border: 2px solid #000;
    }

.forgot-form__button {
    margin-left: 2rem;
    margin-top: 1rem;
}

.forgot-form__link {
    padding: 1.9rem 2rem 0 2rem;
}

.forgot-form__a {
    text-decoration: none;
    display: block;
}

@media screen and (min-width: 1200px) {
    .forgot-form {
        margin: 1rem 7rem 1rem 7rem;
        padding: 3rem;
    }
}
