@page "/reset-password"

@rendermode InteractiveAuto
@layout AuthenticationMainLayout

<PageTitle>Resetowanie hasła</PageTitle>

@if (_isLoading)
{
    <Loading/>
}
else
{
    <section class="reset-form">
        <h2 class="reset-form__heading">Resetowanie hasła</h2>

        @if (_showError)
        {
            <div class="alert alert-danger mx-4" role="alert">
                @foreach (var error in _errors)
                {
                    <div>@error</div>
                }
            </div>
        }

        <EditForm Model="_command" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <ValidationSummary />

            @if (_showSuccess)
            {
                <div class="alert alert-success reset-label-secondary  mx-4" role="alert">
                    Hasło zostało zresetowane. Możesz już się <a href="/login">zalogować</a> do aplikacji.
                </div>
            }
            @if (!_showSuccess)
            {

                <div class="reset-form__group">
                    <label class="reset-form__label">Wprowadź nowe hasło:</label>
                    <InputText @bind-Value="_command.Password"
                               class="reset-form__text"
                               type="password"
                               placeholder="Wprowadź nowe hasło" />
                </div>

                <div class="reset-form__group">
                    <label class="reset-form__label">Potwierdź hasło:</label>
                    <InputText @bind-Value="_command.ConfirmPassword"
                               class="reset-form__text"
                               type="password"
                               placeholder="Potwierdź hasło" />
                </div>

                <button class="reset-form__button btn btn-primary">
                    Aktualizuj
                </button>

            }

            <div class="reset-form__link">
                <a href="/register" class="reset-form__a">Zarejestruj się</a>
                <a href="/login" class="reset-form__a">Zaloguj się</a>
            </div>


        </EditForm>


    </section>
}